@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #E0F2FE;
}

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
  }

  /* Hide default browser eye icons for password fields to prevent duplicate icons */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}
